<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381111725720-3ei3t4b2tc361tj8ol3gg1n8btkle28b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381111725720-3ei3t4b2tc361tj8ol3gg1n8btkle28b</string>
	<key>API_KEY</key>
	<string>AIzaSyD32cXs6-88l6q6sx1i-658Jg15F_iD7BE</string>
	<key>GCM_SENDER_ID</key>
	<string>381111725720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrykstraczek.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait9912</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait9912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381111725720:ios:180127696b986779312aed</string>
</dict>
</plist>